__pycache__
*.pt
*.dnd
*.fasta
*.c
*.html
*.so
*.pyd
*.jpg
*.png
*.svs
*.h5
*.pkl
*.csv
PATCH_20230914/
Model_save/*


heatmap/*
!heatmap/LUAC_1-1_A2_heatmap.jpg
!heatmap/SS17-77649_45000_40000_heatmap.jpg
!heatmap/TCGA-86-A4P8-01Z-00-DX1--a_heatmap.jpg
!heatmap/YS12-1606_0_23000_heatmap.jpg

classification/DATASET/*
classification/20231030_tmp.py
classification/makepatch_tmp.py
classification/JPEG_FOLDER/
classification/cropped_png
classification/patch_tmp.py
classification/train_test_tmp.py
classification/cuda.py
classification/makeHeatmap_tmp.py
classification/tmp.py
classification/main10.py

classification/PATCH_*/
!Classification/PATCH_h5


CLAM/heatmaps/demo/slides/*
CLAM/heatmaps/heatmap_raw_results/HEATMAP_OUTPUT/ POS/*
