__pycache__
*.pt
*.dnd
*.fasta
*.c
*.html
*.so
*.pyd
PATCH_20230914/
Model_save/*
ImageTxtFile/*
DatasetTxtFile/
heatmap/*
CLAM/
tumorAnnotation.json
tumorAnnoataion_tmp.json
Classification/DATASET/*
Classification/20231030_tmp.py
Classification/main_3.py
Classification/makepatch_tmp.py
Classification/JPEG_FOLDER/*
Classification/cropped_png
Classification/main_1_6.py
Classification/patch_tmp.py
Classification/train_test_tmp.py
Classification/cuda.py
Classification/makeHeatmap_tmp.py
Classification/tmp.py

Classification/PATCH_*/*
